.comic-details-container {
  display: flex;
  padding: 60px 0px;
}

.comic-cover-container {
 display: flex;
 justify-content: center;
 width: 35%;
}

.comic-cover {
  width: 70%;
}

.comic-info-container {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}

.comic-info-header {
  color: white;
  width: 100%;
  margin: 0px 0px 10px;
}

.comic-info-text {
  color: white;
  width: 100%;
  height: 30px;
  margin: 0px;
}

@media only screen and (max-width: 990px) {
  .comic-details-container {
    flex-wrap: wrap;
  }

  .comic-cover-container {
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px;
    width: 100%;
  }

  .comic-cover {
    width: 245px;
  }

  .comic-info-container {
    align-content: flex-start;
    display: flex;
    text-align: center;
    width: 100%;
  }
}