.thumbnail-container {
  width: 175px;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  position: relative;
}

.thumbnail-container:before {
  content: '';
  border-bottom: 29px solid transparent;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-left: 20px solid black;
  z-index: -1;
}

.thumbnail-cover {
  width: 175px;
  height: 268.98px;
}

.thumbnail-title {
  width: 155px;
  background-color: black;
  color: white;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px 0px;
  padding: 6px 6px;
  text-overflow: ellipsis;
  text-underline-position: under;
}

.thumbnail-title:link {
  text-decoration: none;
}