nav {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-bar-links {
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  text-decoration-line: none;
  width: 100%;
}

.nav-bar-links:hover {
  background: white;
  color: black;
}