nav {
  align-content: flex-start;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  left: -25%;
  padding: 20px 0px;
  position: fixed;
  width: 25%;
  height: 100%;
}

.nav-bar {
  animation-duration: 1s;
  animation-name: slideout-nav;
}

.nav-bar-toggled {
  animation-duration: 1s;
  animation-name: slidein-nav;
  left: 0%;
}

.nav-bar-links {
  color: white;
  font-size: 20px;
  margin: 10px 0px;
  padding: 10px;
  text-align: center;
  text-decoration-line: none;
  width: 100%;
}

.nav-bar-links:hover {
  background: white;
  color: black;
}

nav img {
  background-color: black;
  cursor: pointer;
  width: 60px;
  position: fixed;
  left: 0.5%;
}

.icon {
  animation-duration: 1s;
  animation-name: slideout-icon;
}

.icon-toggled {
  animation-duration: 1s;
  animation-name: slidein-icon;
  left: 25%;
}

.background-div {
  animation-name: background-fade-out;
  animation-duration: 1s; 
  position: fixed;
  width: 0%;
  height: 0%;
}

.background-toggled {
  animation-name: background-fade-in;
  animation-duration: 1s;
  background-color: rgba(0, 0, 0, .75);
  position: fixed;
  width: 100%;
  height: 100%;
}

@keyframes slidein-nav {
  from {
    left: -25%;
  }
  to {
    left: 0%;
  }
}

@keyframes slideout-nav {
  from {
    left: 0%;
  }
  to {
    left: -25%;
  }
}

@keyframes slidein-icon {
  from {
    left: 0.5%;
  }
  to {
    left: 25%;
  }
}

@keyframes slideout-icon {
  from {
    left: 25%;
  }
  to {
    left: 0.5%;
  }
}

@keyframes background-fade-in {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, .75);
  }
}

@keyframes background-fade-out {
  from {
    background-color: rgba(0, 0, 0, .75);
    width: 100%;
    height: 100%;
  }
  to {
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
}